{% extends 'base.html' %}

{% block content %}

    <h1> {{ data.current_article.title }} </h1>

    <div>
        <p> {{ data.current_article.description }} </p>
    </div>

    <div>
        <form action="{{ url_for('article.open_article', category=data.current_article.category, article_id=data.current_article.id) }}" method="post" >
            <input type="hidden" name="_method" value="PUT"/>
            <input type="text" placeholder="Article title" id="title" name="title"/>
            <textarea name="description" id="description" placeholder="Article body"></textarea>
            <input type="text" id="category" value="{{ data.current_article.category }}" name="category"/>
            <input type="submit" value="Submit"/>
        </form>
    </div>

    <div>
        <form action="{{ url_for('article.open_article', category=data.current_article.category, article_id=data.current_article.id) }}" method="post">
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="submit" value="Delete the article"/>
        </form>
    </div>

    {% for article in data.articles %}
        <a href="{{ url_for('article.open_article', category=data.category, article_id=article.id) }}">{{ article.title }}</a>
    {% endfor %}

{% endblock %}