{% extends 'base.html' %}

{% block content %}

    {% if "nutrition" in data.category %}
        <h1>Nutrition section</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi optio, nihil rem maxime quod molestiae debitis tenetur vitae perferendis quos inventore recusandae aspernatur accusantium, sunt aperiam at nostrum blanditiis maiores. Fuga, neque magnam voluptatum quis natus accusamus dolor voluptate illo, ut libero deserunt beatae cum vitae est sit quod ab!</p>
    {% elif "physical" in data.category %}
        <h1>Physical activities section</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi optio, nihil rem maxime quod molestiae debitis tenetur vitae perferendis quos inventore recusandae aspernatur accusantium, sunt aperiam at nostrum blanditiis maiores. Fuga, neque magnam voluptatum quis natus accusamus dolor voluptate illo, ut libero deserunt beatae cum vitae est sit quod ab!</p>
    {% else %}
        <h1>Mental activities section</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi optio, nihil rem maxime quod molestiae debitis tenetur vitae perferendis quos inventore recusandae aspernatur accusantium, sunt aperiam at nostrum blanditiis maiores. Fuga, neque magnam voluptatum quis natus accusamus dolor voluptate illo, ut libero deserunt beatae cum vitae est sit quod ab!</p>
    {% endif %}

    <div>
        <form action="{{ url_for('article.show_articles_by_category', category=data.category) }}" method="post" >
            <input type="text" placeholder="Article title" id="title">
            <textarea name="description" id="description" placeholder="Article body"></textarea>
            <input type="text" id="category" value="{{ data.category }}">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div>
        {% for article in data.articles %}
            <a href="{{ url_for('article.open_article', category=data.category, article_id=article.id) }}">{{ article.title }}</a>
        {% endfor %}
    </div>

{% endblock %}