body {
    font: 1.2em / 1.5 sans-serif;
    padding: 1em;
    background-color: 	#b8bbc0;
}

nav {
    border: 1px solid;
    /* border-radius: 0.1em; */
    padding: 1em;
    background-color: #404040;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

nav > a {
    flex: auto;
    margin: 0.1em;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
    text-decoration: none;
}

nav > a:link {
    color: 	#5f4c4c;
}

nav > a:visited {
    color: 	#4c3c3c;
}

nav > a:hover {
    color: lightgoldenrodyellow;
}
