body {
    font: 1.1em / 1.3 sans-serif;
    background-color: 	black;
    color: white;
}

a {
    color: rgb(109, 158, 237);
}

a:visited {
    color: rgb(232, 85, 232);
}

nav {
    padding: 1em;
    /* background-color: #404040; */
    display: flex;
    justify-content: space-between;
}

nav > div {
    display: flex;
}

.logo-container {
    margin-left: 1.5em;
}

.auth-nav {
    margin-right: 1.5em;
}

nav > div > a {
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
    padding-top: 0.6em;
}

.article-sections > a, .auth-nav > a {
    padding: 0.6em;
}

nav > a:link {
    color: rgb(109, 158, 237);
}

nav > div > a:visited {
    color: 	white;
}

nav > div > a:hover {
    background-color: rgb(4, 4, 111);
}

.logo-start {
    color: rgb(168, 168, 244);
    text-decoration: none;
}

.logo-main {
    color: white;
    text-decoration: none;
}

.logo-end {
    color: rgb(168, 168, 244);
    text-decoration: none;
}

.logo-start:hover, .logo-main:hover, .logo-end:hover {
    background-color: black;
}

.category-box {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
    flex-direction: row;
}

.category-list {
    flex: 1;
    margin: 0.5em;
}

.category-item {
    text-align: center;
}

.category-item > a {
    text-decoration: none;
    color: white;
}

.category-item > a:hover {
    text-decoration: underline;
}

.category-item > a:visited {
    color: white;
}

.category-overview {
    flex: 3;
    margin: 0.5em;
}

.category-options {
    flex: 1;
    margin: 0.5em;
    text-align: center;
}

.add-title, .add-description, .add-category {
    width: 90%;
}

.add-description {
    height: 200px;
}

.create-article {
    display: none;
}

.new-article {
    background-color: #04AA6D;
    width: 100%;
    color: white;
    padding: 0.7em;
    font-size: 0.8em;
    border: none;
    border-radius: 0.8em;
}

.new-article:hover {
    background-color: #07e191;
}