body {
    font: 1.2em / 1.5 sans-serif;
    /* padding: 1em; */
    background-color: 	black;
    color: white;
}

a {
    color: rgb(109, 158, 237);
}

a:visited {
    color: rgb(232, 85, 232);
}

nav {
    border: 1px solid black;
    /* border-radius: 0.1em; */
    padding: 1em;
    background-color: #404040;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

nav > a {
    flex: auto;
    margin: 0.1em;
    padding: 10px;
    background-color: palegoldenrod;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    opacity: 0.7;
}

nav > a:link {
    color: rgb(109, 158, 237);
}

nav > a:visited {
    color: 	#4c3c3c;
}

nav > a:hover {
    color: blue;
    opacity: 1;
}

.category-box {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
    flex-direction: row;
}