body {
    font: 1.2em / 1.5 sans-serif;
    padding: 1em;
    background-color: antiquewhite;
}

nav {
    border: 1px solid black;
    padding: 1em;
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
}

nav > a {
    flex: auto;
    padding-left:5em;
}
