<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Task List App</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='app.js' )}}" defer></script>

<nav>
    <div class="logo-container">
        <a class="logo-start" href="{{ url_for('home.index') }}">H</a>
        <a class="logo-main" href="{{ url_for('home.index') }}">app</a>
        <a class="logo-end" href="{{ url_for('home.index') }}">__</a>
    </div>
    <div class="article-sections">
        <a class="nutrition-nav" href="{{ url_for('article.show_articles_by_category', category='nutrition') }}">Nutrition</a>
        <a class="physical-nav" href="{{ url_for('article.show_articles_by_category', category='physical_acitvity') }}">Physical activities</a>
        <a class="mental-nav" href="{{ url_for('article.show_articles_by_category', category='mental_activity') }}">Mental activities</a>
    </div>
    <div class="auth-nav">
        <a href="#" class="login-nav">Login</a>
        <a href="#" class="signup-nav">Sign Up</a>
        <a href="#" class="logout-nav">Log Out</a>
    </div>
</nav>
<div class="site-options">
    <div class="path"></div>
    <div class="controls">
        <div class="options-drop-down"><button id="theme">Theme</button></div>
    </div>
</div>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>