<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Task List App</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <a href="{{ url_for('home.index') }}">Health App</a>
    <a href="{{ url_for('article.show_articles_by_category', category='nutrition') }}">Nutrition</a>
    <a href="{{ url_for('article.show_articles_by_category', category='physical_acitvity') }}">Physical activities</a>
    <a href="{{ url_for('article.show_articles_by_category', category='mental_activity') }}">Mental activities</a>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>