{% extends 'base.html' %}

{% block content %}
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit magnam incidunt adipisci molestiae voluptatibus accusantium, cupiditate labore omnis dolore sequi iste itaque sit corporis veritatis dicta quis, error temporibus ad iure porro? Tempora dolorum alias accusantium aspernatur maiores velit illum! Id mollitia, error voluptatum esse labore dolores eaque impedit nisi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit magnam incidunt adipisci molestiae voluptatibus accusantium, cupiditate labore omnis dolore sequi iste itaque sit corporis veritatis dicta quis, error temporibus ad iure porro? Tempora dolorum alias accusantium aspernatur maiores velit illum! Id mollitia, error voluptatum esse labore dolores eaque impedit nisi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit magnam incidunt adipisci molestiae voluptatibus accusantium, cupiditate labore omnis dolore sequi iste itaque sit corporis veritatis dicta quis, error temporibus ad iure porro? Tempora dolorum alias accusantium aspernatur maiores velit illum! Id mollitia, error voluptatum esse labore dolores eaque impedit nisi.</p>
    </div>
{% endblock %}